@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsla(0, 0%, 98%, 0.8);
  --max-width-mobile: 720px;
  --max-width-desktop: 1440px;
}

html {
  background-color: var(--violet);
}

body {
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: var(--max-width-mobile);
  min-height: calc(100vh - 44px);
  margin: 0 auto;
  width: 100%;
  padding: 32px 24px;
}

nav .logo {
  width: 140px;
}

section.hero {
  margin-top: 44px;
}
section.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.register {
  text-align: center;
}
.register .register__title {
  margin-top: 44px;
  font-size: 28px;
  font-weight: 600;
  color: var(--white);
}
.register .register__text {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.06ch;
  color: var(--off-white);
}
.register .register__button {
  margin-top: 32px;
  width: 100%;
  max-width: 220px;
  padding: 20px;
  border: 0;
  border-radius: 32px;
  outline: 0;
  font-size: 16px;
  color: var(--violet);
  background-color: var(--white);
}
.register .register__button:hover {
  color: var(--off-white);
  background-color: var(--soft-magenta);
  cursor: pointer;
}

.socials {
  margin-top: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.socials svg {
  width: 32px;
  aspect-ratio: 1/1;
  padding: 8px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 2px solid var(--white);
  border-radius: 50%;
  color: var(--white);
}
.socials svg:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
  cursor: pointer;
}

footer {
  text-align: center;
  color: var(--white);
}
footer a {
  color: var(--soft-magenta);
}

@media screen and (min-width: 960px) {
  body {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
  }
  .container {
    padding: 48px 72px;
    max-width: var(--max-width-desktop);
  }
  nav .logo {
    width: auto;
  }
  section.hero {
    margin-top: 96px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px;
  }
  section.hero img {
    flex: 1.2;
    max-width: 720px;
    min-width: 630px;
  }
  .register {
    margin-top: 0;
    min-width: 360px;
    flex: 0.8;
    text-align: left;
  }
  .register .register__title {
    font-size: 40px;
  }
  .register .register__text {
    font-size: 16px;
    letter-spacing: 0.09ch;
    line-height: 1.5;
  }
  .socials {
    justify-content: flex-end;
  }
  .socials svg {
    width: 36px;
  }
}/*# sourceMappingURL=style.css.map */